ul {
	&.sharers {
		li {
			@include rems(margin-left, 0.2);
			@include font-size(1.4, 1.8);
			font-family: $bold;
			float: left;
			a {
				display: block;
				color: #fff;
				text-decoration: none;
				@include rems(padding, 0.2, 0.5);
				&.facebook {
					background: #3b5998;
				}
				&.twitter {
					background: #4099ff;
				}
				&.google {
					background: #d34836;
				}	
				i {
					@include rems(margin-left, 0.5);
					@include font-size(1.4, 1.4);
				}
			}
		}
	}
}
